@font-face {
    font-family: 'Kanit-Bold';
    src: url('./fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

* {
    background-color: #00CCFF;
    border: 1px solid red;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header p {
    font-size: 2rem;
    font-family: 'Kanit-Bold', Arial, Helvetica, sans-serif;
    align-self: center;
    text-shadow: 2px 2px 4px #8C92AC;
    padding-left: 20px;
}

header form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px;
}

#search-title {
    margin-right: 10px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 20px;
}

#submit-title {
    border: none;
    border-radius: 10px;
    background-color: #8C92AC;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

main form {
    display: none;
}

#body-wrapper {
    display: grid;
    height: 80vh;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}

#current-tile {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
}

#tile-1 {
    grid-area: 2 / 1 / 3 / 2;
}

#tile-2 {
    grid-area: 2 / 2 / 3 / 3;
}

#tile-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.future-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 10px;

}